/*
* 今天是 2022-10-24
* 我们程序员的一个节日
* 1GB = 1024M，也就是一级棒
* 用代码画一个 Github 章鱼猫庆祝下吧~
*/

/* 先搞一个写代码的 pre 标签试试 */
pre {
    color: #61ffca;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    padding: 24px 16px;
    margin-top: 0;
    overflow-y: auto;
    transition: all 500ms;
}

/* 不太喜欢斜体，变正好了 */
pre em {
    font-style: normal;
}

/* 这不得来给代码颜色高亮下 */
.selector, .selector .key {
    color: #f694ff;
}

.key, .comment {
    color: #edecee;
}

.value {
    color: #ffca85;
}

/* 为了更好的画章鱼猫，我们把代码移到下面来 */
pre {
    top: 42%;
    height: 58%
}

/* 画完这个容器，就可以开始了 */
.github-box {
    width: 100%;
    height: 42%;
    background: #fff;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 我去，感觉不好画，要不先画个圆 */
.github {
    width: 200px;
    height: 200px;
    background: #15141a;
    border-radius: 50%;
    margin: auto;
    display: block;
    position: relative;
}

/* 哈哈因为我抽了下样式，看起来会有些长~ */
.github::before,.github::after,.github>i::before,.github>i::after,.github>i>i::before,.github>i>i::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #fff;
}

/* 脸好像是这个样子 */
.github::before {
    width: 120px;
    height: 108px;
    top: 41px;
    left: 40px;
    border-radius: 50%;
    box-shadow: 16px 0px 0 -6px #fff, -16px 0px 0 -6px #fff;
}

/* 来画一个很简单的脖子 */
.github::after {
    width: 46px;
    height: 62px;
    top: 140px;
    left: 77px;
    border-radius: 14px 14px 0 0;
}

/* 耳朵貌似这样写是可以的 */
.github>i::before {
    width: 40px;
    height: 40px;
    top: 35px;
    left: 40px;
    border-radius: 15% 70% 15% 70%;
    transform: rotate(11deg);
}

/* 再来一只耳朵 */
.github>i::after {
    width: 40px;
    height: 40px;
    top: 35px;
    right: 40px;
    border-radius: 15% 70% 15% 70%;
    transform: rotate(79deg);
}

/* 哈哈哈尾巴不太好画了吧 */
.github>i>i::before {
    width: 40px;
    height: 40px;
    border-radius: 50% 50%;
    top: 121px;
    left: 40px;
    border-bottom: 14px solid #fff;
    border-left: 6px solid transparent;
    border-right: 12px solid transparent;
    background: transparent;
    transform: rotate(15deg);
}

/* 再来一个试试看行不行 */
.github>i>i::after {
    width: 28px;
    height: 28px;
    border-radius: 50% 50%;
    top: 140px;
    left: 12px;
    border-top: 9px solid #fff;
    border-left: 1px solid transparent;
    border-right: 12px solid transparent;
    background: transparent;
    transform: rotate(39deg);
}

/* 好，就是这样，画好啦！*/

/*
 * 你从来不以量取胜，创意是你的生命
 * 只需一台电脑，你就可开始创造
 * 纵横八荒，你诛杀于千里之外
 * 归隐闹市，你徜徉于芸芸众生
 * 不是码农，你是一名无所不能的工程师
 * 祝你 1024 快乐，以后写的都是你喜欢的代码~
 */
